<% provide(:title, 'About Us') %>
	<h1>About Us</h1>
<p>
  My name is Jamie Miller.  this is sample app i am trying to create.  if you want to contact me, email me at <a href="mailto:jamiller@stjoelive.com">jamiller@stjoelive.com</a>
</p>
<p>
I am currently at Marakana in San Francisco
</p>
