<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is the home page for the Sample Application created by Jamie Miller
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>


<p>
	visit the following pages <a href="home">App_Home</a>  |   <a href="help">Help_Section</a>    |   <a href="about">About Us</a>  

</p>
